---
layout: default
---
<style>
#Books {
  width: 100%;
}
</style>
<h1>Latest Book</h1>
<hr style="clear:both;rounded;margin-top:1em;margin-bottom:1em">

{% assign book = site.books | reverse | first %}
<h2 style="clear:both">{{ book.title }}</h2>
<img src="{{ book.ImageLink }}" width="30%" height="auto" style="float: left; padding-right: 10px; padding-bottom: 20px">
{{ book.description | markdownify }}

<p>Genre: {{ book.genre }}</p>

<p>Release Date: {{ book.releaseDate }}</p>

{%- if book.buyLink or book.downloadLink -%}
<div>
  {%- if book.buyLink -%}
    <button class="button" onClick="window.open('{{ book.buyLink }}');">BUY NOW</button>
  {%- endif -%}
  {%- if book.buyLink and book.downloadLink -%}
    <span> or </span>
  {%- endif -%}
  {%- if book.downloadLink -%}
    <a class="button" role="button" href="{{ book.downloadLink }}">DOWNLOAD FREE</a>
  {%- endif -%}
</div>
{%- endif -%}

<div style="clear: left"></div>
<p>

<div class="goodreads-widget" style="width:100%;height:300px">
  <a class="gr_header" rel="nofollow" target="_blank"  href="{{ book.goodreadsLink }}">Goodreads reviews for {{book.title}}</a>
  <iframe id="the_iframe" src="{{ book.goodreadsReviewLink }}" style="width:100%;height:300px" frameborder="0"></iframe>
</div>

<hr style="clear:both;rounded;margin-top:1em;margin-bottom:1em">

{%- if site.posts.size > 0 -%}
	<h1>Latest Post</h1>
	{%- assign latestPost = site.posts[0] -%}
	{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
	<span class="post-meta">{{ latestPost.date | date: date_format }}</span> 
	<a class="post-link" href="{{ latestPost.url | relative_url }}">
	{{ latestPost.title | escape }}
	</a>
	{%- if site.show_excerpts -%}
	  {{ latestPost.excerpt }}
	{%- endif -%}
{%- endif -%}